<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monggo Mampir</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="background-navbar">
            <nav class="navbar">
                <a href="/" class="navbar-logo">Monggo Mampir</a>
                <div class="hamburger" tabindex="0" role="button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar-menu">
                    <li class="navbar-item">
                        <a href="/" class="navbar-link">Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="navbar-link">Favorite</a>
                    </li>
                    <li class="navbar-item">
                        <a href="https://www.linkedin.com/in/wahyuafrizalba/" class="navbar-link" target="_blank">About
                            Us</a>
                    </li>
                    <li class="navbar-item">
                        <a href="https://ugmofficial.maps.arcgis.com/apps/dashboards/1b4dd24ab4d247d7a246a5d059ab0d21" class="navbar-link" target="_blank">Login</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="hero">
            <div class="container">
                <h1 class="hero-title">Aneka Ragam Kuliner Nusantara</h1>
                <p class="hero-tagline">
                    Melayani segala macam metode pembayaran termasuk kasbon untuk anak kosan
                </p>
            </div>
        </div>
    </header>
    <main>
        <section class="content" id="maincontent">
            <div class="daftar-restoran container">
                <h2>Jelajahi Restoran</h2>
                <p>Temukan berbagai macam cabang gerai kami di seluruh penjuru dunia</p>
                <div class="restoran" id="restoran">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright © 2021 - Monggo Mampir.</p>
    </footer>
</body>

</html>
