<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monggo Mampir</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- <h1>Restaurant Apps Starter Project</h1>
    <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
    <p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen
    </p>
    <img src="./images/heros/hero-image_1.jpg" width="450" alt="">
    <img src="./images/heros/hero-image_2.jpg" width="450" alt="">
    <img src="./images/heros/hero-image_3.jpg" width="450" alt="">
    <img src="./images/heros/hero-image_4.jpg" width="450" alt=""> -->

    <header class="header">
        <div class="background-navbar">
            <nav class="navbar">
                <a href="/" class="navbar-logo">Monggo Mampir</a>
                <div class="hamburger" tabindex="0" role="button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar-menu">
                    <li class="navbar-item">
                        <a href="/" class="navbar-link">Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="navbar-link">Service</a>
                    </li>
                    <li class="navbar-item">
                        <a href="https://www.linkedin.com/in/wahyuafrizalba/" class="navbar-link">About Us</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="hero">
            <div class="container">
                <h1 class="hero-title">Aneka Ragam Kuliner Nusantara</h1>
                <p class="hero-tagline">
                    Melayani segala macam metode pembayaran termasuk kasbon untuk anak kosan
                </p>
            </div>
        </div>
    </header>
    <main>
        <section class="content">
            <div class="daftar-restoran container">
                <h1>Jelajahi Restoran</h1>
                <p>Temukan berbagai macam cabang gerai kami di seluruh penjuru dunia</p>
                <div class="restoran" id="restoran">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright © 2021 - Monggo Mampir.</p>
    </footer>
</body>

</html>