@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url("../public/images/heros/hero-image_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 16px 24px;
}

.navbar.active {
    transition: 0.5s;
    background-color: rgba(0, 0, 0);
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.navbar-logo {
    font-size: 27px;
    font-weight: 600;
    color: #fff;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    top: -100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0);
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

.navbar-menu.active {
    top: 100px;
}

.navbar-item {
    margin: 40px 0;
}

.navbar-link{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.navbar-link:hover{
    font-weight: bold;
}

.hero {
    display: flex;
    align-items: center;
    min-height: 500px;
    width: 100%;
    text-align: center;
    background-position: center;
}

.hero-title {
    color: #fff;
    font-weight: 500;
    font-size: 42px;
}

.hero-tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 70px;
}