
@media screen and (min-width: 398px) {
    .restoran { 
        width: 310px;
        margin: 50px auto;
    }
}

@media screen and (min-width: 700px) {
    .restoran { 
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        width: 650px;
    }
}

@media screen and (min-width: 800px) {
    .navbar-menu {
        position: initial;
        flex-direction: initial;
        background-color: initial;
        width: initial;
        box-shadow: none;
        transition: initial;
    }

    .hamburger {
        display: none;
    }
    
}

@media screen and (min-width: 1020px) {
    .restoran { 
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        width: initial;
    }
}

@media screen and (min-width: 1040px) {
    .restoran { 
        width: 990px;
    }
}